# Dependencies
node_modules/

# Build outputs
dist/
dist-electron/
dist-vite/
main/
src/out/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Package manager
package-lock.json
yarn.lock
